/*Responsividade*/
@media (min-width: 1000px){
    .descricao{
        width: 70%;
    }
}

@media (max-width: 700px){
    header img{
        margin-left: 20px;
    }

    header nav a{
        font-size: medium;
    }

    .descricao{
        width: 70%;
    }
}

@media (max-width: 450px){
    header img{
        margin-left: 20px;
    }

    header nav a{
        font-size: medium;
    }

    .botao{
        margin-top: 5px;
        width: 190px;
        height: 50px;
    }

    .descricao{
        width: 70%;
    }
}